
#quizz-answer {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 942px;
}

#quizz-info {
    float: left;
    text-align: center;
    width: 210px;
}

#quizz {
    float: left;
    height: 620px;
    position: relative;
    width: 940px;
}

#response-list {
    border: 1px solid #fff;
    display: block;
    float: left;
    height: 620px;
    width: 240px;
}

#response-list li {
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 2px 8px;
    width: 235px;
}

div.quizz-picture {
    position: absolute;
    display: none;
}

div.quizz-picture-size-1 {background: url('images/picture-quizz-1.png') no-repeat; width: 50px; height: 50px;}
div.quizz-picture-size-2 {background: url('images/picture-quizz-2.png') no-repeat; width: 100px; height: 100px;}
div.quizz-picture-size-3 {background: url('images/picture-quizz-3.png') no-repeat; width: 200px; height: 200px;}
