
{% extends "::master.html.twig" %}

{% block body %}

<h1>Ressource inconnue</h1>

<div class="sep-50"></div>

<span class="c-orange f-b14">La page demandée n'existe pas.</span>
<div class="sep-20"></div>
<a class="c-white" href="{{ path('jc_home_index') }}">Retour à l'accueil</a>

{% endblock %}
