
{% extends "::master.html.twig" %}

{% block body %}

    <h1>Test page</h1>

    {% if message is defined %}
        <span>Message :</span>
        <p>{{ message }}</p>
    {% endif %}

{% endblock %}
