{#
    Allows to display page for forgotten password.
#}

{% extends "::master.html.twig" %}

{% block body %}

<h1>Mot de passe oublié ?</h1>

<div class="sep-10"></div>

<p>Pour recevoir votre nouveau mot de passe merci d'indiquer l'adresse mail utilisée pour votre compte.</p>

<div class="sep-10"></div>

<form action="{{ path('jc_user_password') }}" method="post">
    <input type="text" id="mail" name="mail" />
    <div class="sep-5"></div>
    <input type="submit" value="Envoyer" />
</form>

{% endblock %}
